@font-face {
  font-family: 'Cascadia Code Light';
  src: url('fonts/CascadiaCodeLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* font-variant: small-caps; */
:where(code) {
  --code-text-color: hsla(0 0% 0%);
}  
:where(a) {
  --link-text-color: hsla(38 78% 48%);
}
:where(a:hover) {
  --hover-text-color: hsla(228 5% 80%);
}
:where(fieldset) {
  background-color: hsla(0 0% 40% / 0.25);
  backdrop-filter: saturate(180%) blur(5px);
  border: 2px transparent lightgray;
}

@media (prefers-color-scheme: light) {
  :where(body) {
    --background-color: hsla(0 0% 85%);
    --text-color: hsla(0 0% 0%);
    --bar-border: 2.5px solid black;
  }
}

@media (prefers-color-scheme: dark) {
  :where(body) {
    --background-color: hsl(228, 5%, 15%);
    --text-color: hsl(228, 5%, 80%);
    /* --bar-border: 2.5px solid hsl(240, 60%, 99%); */
    --bar-border: 2.5px solid black;
    /* --bar-back: hsl(240 36% 28.8%); */
    --bar-back: hsl(228, 5%, 80%);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);  
  font-family: "Century Gothic", sans-serif;
  background-image: url("CircuitBoard2.jpg");
  background-size: auto;
  color-scheme: light dark;
}

summary {
  padding: 5px;
}

progress {
  color: black;
  /* Firefox: Unfilled portion of the progress bar */
  background: var(--bar-back);
  /* line-height: 1px; */
  width: 150px;
  height: 12px;
  border-radius: 3px;
  overflow: hidden;    
}
/* Firefox: Filled portion of the progress bar */
progress::-moz-progress-bar {
    background: currentColor;
}
/* Chrome & Safari: Unfilled portion of the progress bar */
progress::-webkit-progress-bar {
    background: var(--bar-back);
}
/* Chrome & Safari: Filled portion of the progress bar */
progress::-webkit-progress-value {
    background: currentColor;
}
progress.black {
    color: black;
    border: var(--bar-border);
    box-shadow: -.05em -.05em .1em black;

    /* box-shadow: 0.1em 0.1em  black; */

    /* box-shadow: -0.1em -0.1em  black;     */

    /* box-shadow: -.05em -.05em .1em black;     */

    box-shadow: 
      -0.1em 0.1em 0.2em  midnightblue,
      -0.2em -0.05em 0.3em darkgrey;
}
progress.red {
    color: hsla(0, 95%, 35%, 1);
    border: var(--bar-border);

    /* box-shadow: 0.1em 0.1em  hsla(0, 95%, 35%, 1); */

    /* box-shadow: -0.1em -0.1em  hsla(0, 95%, 35%, 1);     */

    /* box-shadow: -.05em -.05em .1em hsla(0, 95%, 35%, 1);     */

    box-shadow: 
      /* -0.1em 0.1em 0.2em  hsla(0, 95%, 35%, 1), */
      -0.1em 0.1em 0.2em  hsla(0, 95%, 35%, 80%),
      -0.2em -0.05em 0.3em hsla(0, 95%, 35%, 1);    
}
progress.yellow {
    color: hsla(45, 100%, 47%, 1);
    border: var(--bar-border);

    /* box-shadow: 0.1em 0.1em  hsla(45, 100%, 47%, 1); */    

    /* box-shadow: -0.1em -0.1em  hsla(45, 100%, 47%, 1); */

    /* box-shadow: -.05em -.05em .1em hsla(45, 100%, 47%, 1); */

    box-shadow: 
      /* -0.1em 0.1em 0.2em  hsla(45, 100%, 47%, 1), */
      -0.1em 0.1em 0.2em  hsla(45, 100%, 32%, 0.8),
      -0.2em -0.05em 0.3em hsla(45, 100%, 47%, 1);
}
progress.green {
    color: hsla(116, 65%, 45%, 1);
    border: var(--bar-border);

    /* box-shadow: 0.1em 0.1em  hsla(116, 65%, 45%, 1); */

    /* box-shadow: -0.1em -0.1em  hsla(116, 65%, 45%, 1); */

    /* box-shadow: -.05em -.05em .1em hsla(116, 65%, 45%, 1); */    

    box-shadow: 
      /* -0.1em 0.1em 0.2em  hsla(116, 65%, 45%, 1), */
      -0.1em 0.1em 0.2em  darkgreen,
      -0.2em -0.05em 0.3em hsla(116, 65%, 45%, 1);
}

.container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;  
}

.content1 {
  padding-top: 2px;
  padding-left: 4px;
  flex: 1;
  background-color: hsla(0 0% 40% / 0.25);
  backdrop-filter: saturate(150%) blur(5px);
}
.content1 fieldset {
  padding: 10px 15px 10px;
  border-radius: 10px;  
  margin: 10px auto 10px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0px 0px 10px 2px goldenrod;
  font-size: small;
}
.content2 {
  flex: 1;
  margin: auto;
  min-width: fit-content;
  max-width: 80%;
  min-height: 100vh;
  background-color: var(--background-color);
  border-radius: 10px;
  border: 3px solid black;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 0px 5px 1px black;
  justify-content: center;  
}
.c2items {
  margin: auto;
  max-width: fit-content;
}
.c2items ol {
  list-style-position: outside;
  padding-left: 20px;
  font-size: large;
}
/* OL LI controlls all text on page and overrides below */
.c2items ol li {
  list-style-position: outside;
  padding-left: 5px;
}
/* OL UL controls all text inside the UL */
.c2items ol ul {
  list-style-position: outside;
  list-style-type: "\22B6";
  font-size: medium;
  /*     \top\ ?\bot\indent UL */
  padding: 5px 0 5px 20px;
}
.c2items ol ul li {
  /*     \btn\ ?\bot\indent UL */
  padding: 5px 0 5px 10px;  
}
.c2items ol ul ul {
  list-style-position: outside;
  list-style-type: "\22F1";
  font-size: small;
  /*     \top\ ?\bot\indent UL */
  padding: 5px 0 5px 30px;
}
.c2items ol ul ul li {
  /*     \top\ ?\bot\indent UL LI */
  padding: 5px 0 10px 10px;
}

.topnav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-top: 0.5em;
}
.topnav ul li a {
  text-decoration: none;
  /* color: #ffffff; */
  color: black;
  font-size: x-large;
  padding: 0.25em 0.5em;
  border-radius: 5px;
}
.topnav ul li a:hover {
  background-color: #ccc;
  color: black;
}

/* CODE Block */
code pre {
  margin-left: 5px;
  font-family: 'Cascadia Code Light';
  background-color: hsla(38 78% 48% / 0.95);
  color: var(--code-text-color);
  max-width: 100%;
  /* min-width: 10%; */
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  overflow-x: auto;
  border: 2px solid black;
  box-shadow: 0px 0px 5px 1px black;
}
/**/

/* PDF */
#PDF {
    width: 1000px;
    height: 1250px;
    zoom: 100%;
}
/**/

/* Table */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
th {
  background-color: #b9bdba;
}
tr:hover {background-color: #82a4f5;}
/**/

/* LINK style*/
a{
  color: var(--link-text-color);
}
a:hover {
  color: var(--hover-text-color);
}
a:active {
  color: purple;
}
/**/

/* .toggle {
  display: inline-flex;
  background: #2c2c2c;
  border-radius: 2em;
  padding: 0.25em;
  gap: 0.25em;
}
.toggle input[type="radio"] {
  display: none;
}
.toggle label {
  padding: 0.5em 1.25em;
  cursor: pointer;
  border-radius: 2em;
  color: #ccc;
  transition: ease-in;
}
.toggle input[type="radio"]:checked + label {
  background: #ccc;
  color: #000;
} */