@font-face {
  font-family: 'Cascadia Code Light';
  src: url('fonts/CascadiaCodeLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media only screen and (max-width: 700px) {
  :where(.ol-step) {
    --ol-step-size: medium;
  }
  :where(.ul-step) {
    --ul-step-size: small;
  }  
  :where(.ul-step a) {
    --ul-step-size-a: medium;
  }
  :where(.ul-step p) {
    --ul-step-size-p: small;
  }  
  :where(.ul-substep) {
    --ul-substep-size: medium;
  }
  :where(.ul-substep a) {
    --ul-substep-size-a: small;
  }
  :where(.ul-substep p) {
    --ul-substep-size-p: x-small;
  }  
  :where(.topnav ul li a) {
    --topnav-size-a: medium;  
  }
  :where(.indexh2) {
    --h2-size: medium;
  }
}
@media only screen and (min-width: 1080px) {
  :where(.ol-step) {
    --ol-step-size: xx-large;
  }
  :where(.ul-step) {
    --ul-step-size: x-large;
  }  
  :where(.ul-step a) {
    --ul-step-size-a: x-large;
  }
  :where(.ul-step p) {
    --ul-step-size-p: medium;
  }  
  :where(.ul-substep) {
    --ul-substep-size: x-large;
  }
  :where(.ul-substep a) {
    --ul-substep-size-a: x-large;
  }
  :where(.ul-substep p) {
    --ul-substep-size-p: medium;
  } 
  :where(.topnav ul li a) {
    --topnav-size-a: xx-large;  
  }  
  :where(.indexh2) {
    --h2-size: xx-large;
  }  
}

/* font-variant: small-caps; */
:where(code) {
  --code-text-color: hsla(0 0% 0%);
}  
:where(a) {
  --link-text-color: hsla(38 78% 48%);
}
:where(a:hover) {
  --hover-text-color: hsla(228 5% 80%);
}
:where(fieldset) {
  background-color: hsla(0 0% 40% / 0.25);
  backdrop-filter: saturate(180%) blur(5px);
  border: 2px transparent lightgray;
}

i.fa {
  font-size: 1em;
}

i.fa.fa-link {
  /* transform: rotate(-0.12turn); */
  /* transform: rotate(-0.15turn); */
  transform: rotate(-0.25turn);
}

/* @media (prefers-color-scheme: light) {
  :where(body) {
    --background-color: hsla(0 0% 85%);
    --text-color: hsla(0 0% 0%);
    --bar-border: 2.5px solid black;
  }
} */

/* @media (prefers-color-scheme: dark) {
  :where(body) {
    --background-color: hsl(228, 5%, 15%);
    --text-color: hsl(228, 5%, 80%);
    --bar-border: 2.5px solid black;
    --bar-back: hsl(228, 5%, 80%);
  }
} */

:where(body) {
  --background-color: hsla(228, 5%, 15%);
  --text-color: hsl(228, 5%, 80%);
  /* --bar-border: 2.5px solid hsl(240, 60%, 99%); */
  --bar-border: 2.5px solid black;
  /* --bar-back: hsl(240 36% 28.8%); */
  --bar-back: hsl(228, 5%, 80%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);  
  font-family: "Century Gothic", sans-serif;
  background-image: url("assets/CircuitBoard2.jpg");
  background-size: auto;
  color-scheme: light dark;
}

summary {
  padding-top: 5px;
  font-size: small;
}

details {
  font-size: small;
  padding: 5px;
}

progress {
  color: black;
  /* Firefox: Unfilled portion of the progress bar */
  background: var(--bar-back);
  /* line-height: 1px; */
  /* width: 150px; */
  width: 10%;
  /* height: 12px; */
  height: 1em;
  border-radius: 3px;
  overflow: hidden;
  margin-right: 10px;
  /* margin-left: 10px; */
}
/* Firefox: Filled portion of the progress bar */
progress::-moz-progress-bar {
    background: currentColor;
}
/* Chrome & Safari: Unfilled portion of the progress bar */
progress::-webkit-progress-bar {
    background: var(--bar-back);
}
/* Chrome & Safari: Filled portion of the progress bar */
progress::-webkit-progress-value {
    background: currentColor;
}
progress.black {
    color: black;
    border: var(--bar-border);
    box-shadow: -.05em -.05em .1em black;

    /* box-shadow: 0.1em 0.1em  black; */

    /* box-shadow: -0.1em -0.1em  black;     */

    /* box-shadow: -.05em -.05em .1em black;     */

    box-shadow: 
      -0.1em 0.1em 0.2em  midnightblue,
      -0.2em -0.05em 0.3em darkgrey;
}
progress.red {
    color: hsla(0, 95%, 35%, 1);
    border: var(--bar-border);

    /* box-shadow: 0.1em 0.1em  hsla(0, 95%, 35%, 1); */

    /* box-shadow: -0.1em -0.1em  hsla(0, 95%, 35%, 1);     */

    /* box-shadow: -.05em -.05em .1em hsla(0, 95%, 35%, 1);     */

    box-shadow: 
      /* -0.1em 0.1em 0.2em  hsla(0, 95%, 35%, 1), */
      -0.1em 0.1em 0.2em  hsla(0, 95%, 35%, 80%),
      -0.2em -0.05em 0.3em hsla(0, 95%, 35%, 1);    
}
progress.yellow {
    color: hsla(45, 100%, 47%, 1);
    border: var(--bar-border);

    /* box-shadow: 0.1em 0.1em  hsla(45, 100%, 47%, 1); */    

    /* box-shadow: -0.1em -0.1em  hsla(45, 100%, 47%, 1); */

    /* box-shadow: -.05em -.05em .1em hsla(45, 100%, 47%, 1); */

    box-shadow: 
      /* -0.1em 0.1em 0.2em  hsla(45, 100%, 47%, 1), */
      -0.1em 0.1em 0.2em  hsla(45, 100%, 32%, 0.8),
      -0.2em -0.05em 0.3em hsla(45, 100%, 47%, 1);
}
progress.green {
    color: hsla(116, 65%, 45%, 1);
    border: var(--bar-border);

    /* box-shadow: 0.1em 0.1em  hsla(116, 65%, 45%, 1); */

    /* box-shadow: -0.1em -0.1em  hsla(116, 65%, 45%, 1); */

    /* box-shadow: -.05em -.05em .1em hsla(116, 65%, 45%, 1); */    

    box-shadow: 
      /* -0.1em 0.1em 0.2em  hsla(116, 65%, 45%, 1), */
      -0.1em 0.1em 0.2em  darkgreen,
      -0.2em -0.05em 0.3em hsla(116, 65%, 45%, 1);
}

.container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;  
}

.content1 {
  padding-top: 2px;
  padding-left: 4px;
  flex: 1;
  background-color: hsla(0 0% 40% / 0.25);
  backdrop-filter: saturate(150%) blur(5px);
}
.content1 fieldset {
  padding: 10px 15px 10px;
  border-radius: 10px;  
  margin: 10px auto 10px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0px 0px 10px 2px goldenrod;
  font-size: small;
}
.content2 {
  flex: 1;
  margin: auto;
  min-width: fit-content;
  max-width: 80%;
  min-height: 100vh;
  background-color: var(--background-color);
  border-radius: 10px;
  border: 3px solid black;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 0px 5px 1px black;
  justify-content: center;  
}
.c2items {
  margin: auto;
  max-width: fit-content;
}

.ol-step {
  list-style-position: outside;
  margin-left: 2%;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: var(--ol-step-size);
}
.ul-step {
  list-style-position: outside;
  list-style-type: "\22B6";
  margin-left: 3%;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: var(--ul-step-size);
}
.ul-step a {
  font-size: var(--ul-step-size-a);
}
.ul-step p {
  font-size: var(--ul-step-size-p);
}

.ul-substep {
  list-style-position: outside;
  list-style-type: "\22F1";
  /* margin-left: 70px; */
  margin-left: 50px;
  /* margin-left: 3%; */
  padding-left: 10px;  
  font-size: var(--ul-substep-size);
  padding-bottom: 10px;
}
.ul-substep a {
  font-size: var(--ul-substep-size-a);
  /* padding-bottom: 10px; */
}
.ul-substep p {
  font-size: var(--ul-substep-size-p);
}

details {
  padding-bottom: 10px;
}

.indexh2 {
  font-size: var(--h2-size);
}

.topnav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2em;
  /* margin-top: 0.5em; */
}
.topnav ul li a {
  text-decoration: none;
  background-color: rgba(36, 37, 40, 0.7);
  /* color: #ffffff; */
  color: hsl(228, 5%, 80%);
  font-weight: bolder;
  font-size: var(--topnav-size-a);
  padding: 0.25em 0.5em;
  border-radius: 5px;
}
.topnav ul li a:hover {
  background-color: #ccc;
  color: black;
}

/* CODE Block */
code pre {
  margin-left: 5px;
  font-family: 'Cascadia Code Light';
  background-color: hsla(38 78% 48% / 0.95);
  color: var(--code-text-color);
  max-width: 100%;
  /* min-width: 10%; */
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  overflow-x: auto;
  border: 2px solid black;
  box-shadow: 0px 0px 5px 1px black;
}
/**/

/* PDF */
#PDF {
    width: 1000px;
    height: 1250px;
    zoom: 100%;
}
/**/

/* Table */
table th td {
  border: 1px solid black;
  border-collapse: collapse;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
th {
  background-color: #b9bdba;
}
tr:hover {background-color: #82a4f5;}
/**/

/* LINK style*/
a{
  color: var(--link-text-color);
  text-decoration: none;
}
a:hover {
  color: var(--hover-text-color);
  text-decoration: none;
}
a:active {
  color: purple;
  text-decoration: none;
}
/**/

img {
  max-width: 100%;
  height: auto;
}

/* .toggle {
  display: inline-flex;
  background: #2c2c2c;
  border-radius: 2em;
  padding: 0.25em;
  gap: 0.25em;
}
.toggle input[type="radio"] {
  display: none;
}
.toggle label {
  padding: 0.5em 1.25em;
  cursor: pointer;
  border-radius: 2em;
  color: #ccc;
  transition: ease-in;
}
.toggle input[type="radio"]:checked + label {
  background: #ccc;
  color: #000;
} */